.container-tracks {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: inline-flex;
}
.tracks {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-tracks {
  padding-bottom: 10px;
}

.image-tracks img {
  width: 100%;
  height: 100%;
}

.text-tracks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  text-align: left;
}
.text-tracks h2 {
  padding-top: 10px;
}
.text-tracks h3 {
  padding-top: 10px;
}
.text-tracks h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-tracks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button-tracks button {
  background-color: #4caf50;
  color: white;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  padding: 3px 4px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  
}

.login-container {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

.tombol-search {
  margin: 0 auto;
  text-align: center;
}
