.nav-login{
    padding: 20px;
    margin: 0 auto;
  }
.container-nav {
    padding-top: 10px;
    color: white;
  }

.container-nav h2 {
   padding-right: 20px;
   padding-bottom: 20px;
   font-size: 30px;
   padding-left: 100px;
}

.container-login{
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
  width: auto;
  height: 400px;
}

.container-login h2{
  font-size: 40px;
  padding-top: 10px;
  color: white;
  text-align: center;
}

.container-login p{
  font-size: 15px;
  padding-bottom: 30px;
  padding-top: 10px;
  color: white;
  text-align: center;
}

.container-isi{
  color: white;
  margin: 0 auto;
  text-align: center;
}

.container-isi p{
  margin-top: 60px;
  font-size: 12px;
  font-style: italic;
}
