body{
  background-color: rgb(0, 0, 0);
  font-size: 12px;
}
.tombol-search {
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 20px;
}


.container-form{
  color: white;
  padding-left: 20px;
  padding-top: 100px;
}

.container-form h1{
  padding-bottom: 40px;
}

.container-form p {
  padding-bottom: 10px;
}

.description-form{
  padding-top: 10px;
}

.button-form{
  padding-left: 20px;
}

.home-container p{
  color: white;
  padding-left: 25px;
  padding-top: 10px;
}
.clear-search{
  padding-left: 20px;
}